<h1>Hi <%= @user.email %></h1>
<h3>Following are the login credentials for YMCA ATTENDANCE PORTAl:</h3><br>
<ul>
  <li>Email : <%= @user.email %></li>
  <li>Password: <%= @user_pass %></li>
</ul>

<h1><em>DO NOT SHARE THIS WITH ANYONE.</em></h1>